.flexCentral, .sectionFooter .container-fluid .n-footer, .sectionVideo .containerVideo, .sectionContact, .sectionCart .container #root .box .img-box, .sectionCart .container .sidebar .head .cart p, .sectionCart .container .sidebar #cartItem .cart-item .row-img, .sectionModals, .sectionModals .containerModal .modal-dialog .modal-content .modal-footer, .sectionProducts, .sectionGallery .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center; }

.flexCentralDirection, .sectionVideo, .sectionBienvenida, .sectionBienvenida .containerBienvenida, .sectionInformation .containerInformation .fila .columna .card a, .sectionCart, .sectionCart .container #root .box .bottom, .sectionProducts .containerProducts .row-products-details a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.maxMedidas, .sectionVideo .containerVideo, .sectionInformation .containerInformation .fila .columna .card, .sectionInformation .containerInformation .fila .columna .card a, .sectionCart .container, .sectionProducts .containerProducts .row-products-details a img, .sectionGallery .container-fluid .fila .columna .card-img-top {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Sen' !important;
  background-image: url("./../../resources/img/background.png"); }

footer {
  font-family: 'Sen'; }

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("./../../resources/font/RobotoMono-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("./../../resources/font/RobotoMono-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("./../../resources/font/Sen-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Sen', sans-serif;
  src: url("./../../resources/font/Sen-Bold.ttf");
  font-style: bold; }

@font-face {
  font-family: 'Merienda', cursive;
  src: url("./../../resources/font/Merienda-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Merienda', cursive;
  src: url("./../../resources/font/Merienda-Bold.ttf");
  font-style: bold; }

.sectionNav .n-menu {
  background: linear-gradient(-135deg, #2D033B, #7f1d7f);
  z-index: 1; }
  .sectionNav .n-menu-contenido-brand {
    text-decoration: none; }
    .sectionNav .n-menu-contenido-brand-logo {
      max-width: 100px;
      width: 100%; }
    .sectionNav .n-menu-contenido-brand-text {
      color: #fff;
      font-weight: bold;
      font-size: 35px; }
  .sectionNav .n-menu-contenido .n-collapse {
    justify-content: end; }
    .sectionNav .n-menu-contenido .n-collapse-ul-li {
      padding: 0 50px; }
      .sectionNav .n-menu-contenido .n-collapse-ul-li a {
        color: #fff;
        font-size: 20px; }
      .sectionNav .n-menu-contenido .n-collapse-ul-li a a.active, .sectionNav .n-menu-contenido .n-collapse-ul-li a:hover {
        background: #fdf7fd;
        border-radius: 3px;
        transition: all 0.5s ease;
        color: #2D033B; }

@media only screen and (max-width: 1200px) {
  .sectionNav .n-menu-contenido .n-collapse-ul-li {
    padding: 0 20px; }
    .sectionNav .n-menu-contenido .n-collapse-ul-li a {
      font-size: 18px; } }

@media only screen and (max-width: 992px) {
  .sectionNav .n-menu .n-menu-contenido .n-collapse {
    text-align: center; }
    .sectionNav .n-menu .n-menu-contenido .n-collapse-ul-li {
      padding: 20px; } }

@media only screen and (max-width: 768px) {
  .sectionNav .n-menu .n-menu-contenido-brand-text {
    font-size: 30px; } }

@media only screen and (max-width: 576px) {
  .sectionNav .n-menu .n-menu-contenido-brand-text {
    font-size: 25px; }
  .sectionNav .n-menu .n-menu-contenido .n-collapse-ul-li a {
    color: #fff;
    font-size: 18px; } }

.sectionFooter .container-fluid {
  background: linear-gradient(-135deg, #2D033B, #7f1d7f); }
  .sectionFooter .container-fluid .n-footer-brand a {
    color: #fff; }
  .sectionFooter .container-fluid .n-footer-brand img {
    width: 40%; }
  .sectionFooter .container-fluid .n-footer-brand-col {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 28px; }
    .sectionFooter .container-fluid .n-footer-brand-col-text {
      margin: 0; }
  .sectionFooter .container-fluid .n-footer-tree {
    text-align: right;
    font-size: 17px;
    margin: 0; }
    .sectionFooter .container-fluid .n-footer-tree a {
      color: #fff;
      padding: 8px; }
    .sectionFooter .container-fluid .n-footer-tree a a.active, .sectionFooter .container-fluid .n-footer-tree a:hover {
      background: #fdf7fd;
      border-radius: 3px;
      transition: all 0.5s ease;
      color: #2D033B; }

@media only screen and (max-width: 1200px) {
  .sectionFooter .container-fluid .n-footer-brand img {
    width: 100%; }
  .sectionFooter .container-fluid .n-footer-brand-col-text {
    font-size: 18px; }
  .sectionFooter .container-fluid .n-footer-tree {
    font-size: 13px; }
    .sectionFooter .container-fluid .n-footer-tree a {
      padding: 4px; } }

@media only screen and (max-width: 768px) {
  .sectionFooter .container-fluid .n-footer-brand img {
    width: 100%; }
  .sectionFooter .container-fluid .n-footer-brand-col-text {
    font-size: 16px; }
  .sectionFooter .container-fluid .n-footer-tree {
    font-size: 12px; }
    .sectionFooter .container-fluid .n-footer-tree a {
      padding: 2px; } }

@media only screen and (max-width: 576px) {
  .sectionFooter .container-fluid .n-footer-brand img {
    width: 100%; }
  .sectionFooter .container-fluid .n-footer-brand-col-text {
    font-size: 15px; }
  .sectionFooter .container-fluid .n-footer-tree {
    font-size: 11px; }
    .sectionFooter .container-fluid .n-footer-tree a {
      padding: 1px; } }

.sectionVideo .containerVideo video {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  object-position: center;
  top: 100px; }

.sectionBienvenida {
  background: linear-gradient(-135deg, #2D033B, #7f1d7f);
  color: #fff; }
  .sectionBienvenida .containerBienvenida p {
    font-size: 28px;
    font-weight: bold; }
  .sectionBienvenida .containerBienvenida h1 {
    font-size: 40px;
    font-weight: bold; }

.sectionInformation .containerInformation .fila .columna {
  padding: 10px; }
  .sectionInformation .containerInformation .fila .columna .card {
    background: #7f1d7f;
    border: none;
    border-radius: 5px; }
    .sectionInformation .containerInformation .fila .columna .card a {
      text-decoration: none;
      color: #fff; }
      .sectionInformation .containerInformation .fila .columna .card a .card-title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        padding: 10px; }
      .sectionInformation .containerInformation .fila .columna .card a .card-text {
        font-size: 25px;
        padding: 10px;
        text-align: center;
        margin: 0; }
      .sectionInformation .containerInformation .fila .columna .card a img {
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 100%; }

@media only screen and (max-width: 768px) {
  .sectionBienvenida .containerBienvenida p {
    font-size: 25px; }
  .sectionBienvenida .containerBienvenida h1 {
    font-size: 37px; }
  .sectionInformation .containerInformation .fila .columna .card a .card-title {
    font-size: 28px;
    padding: 5px; }
  .sectionInformation .containerInformation .fila .columna .card a .card-text {
    font-size: 22px;
    padding: 5px; } }

@media only screen and (max-width: 576px) {
  .sectionBienvenida .containerBienvenida p {
    font-size: 20px; }
  .sectionBienvenida .containerBienvenida h1 {
    font-size: 32px; }
  .sectionInformation .containerInformation .fila .columna .card a .card-title {
    font-size: 23px; }
  .sectionInformation .containerInformation .fila .columna .card a .card-text {
    font-size: 17px; } }

.sectionContact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 41px 0; }
  .sectionContact .container .row {
    width: 65%;
    display: flex;
    align-items: center; }
    .sectionContact .container .row .infoForm {
      padding: 30px 20px;
      background: #fff;
      box-shadow: 0 10px 10px #2d033b80; }
      .sectionContact .container .row .infoForm .contactForm {
        position: relative;
        padding: 0 20px;
        width: 100%; }
        .sectionContact .container .row .infoForm .contactForm h2 {
          color: #2D033B;
          font-size: 24px;
          font-weight: bold;
          text-align: center; }
        .sectionContact .container .row .infoForm .contactForm .inputBox {
          padding-top: 20px; }
          .sectionContact .container .row .infoForm .contactForm .inputBox.w50 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px; }
          .sectionContact .container .row .infoForm .contactForm .inputBox.w100 {
            display: flex;
            width: 100%;
            padding: 20px 0;
            justify-content: space-between; }
          .sectionContact .container .row .infoForm .contactForm .inputBox input, .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
            width: 100% !important;
            padding: 5px 0;
            resize: none;
            font-size: 18px;
            color: #4c105c;
            border: none;
            border-bottom: 1px solid #2D033B;
            outline: none !important; }
          .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
            min-height: 100px; }
          .sectionContact .container .row .infoForm .contactForm .inputBox span {
            position: absolute;
            padding: 5px 0;
            font-size: 18px;
            font-weight: bold;
            color: #4c105c;
            transition: 0.5s;
            pointer-events: none; }
          .sectionContact .container .row .infoForm .contactForm .inputBox input:focus ~ span,
          .sectionContact .container .row .infoForm .contactForm .inputBox textarea:focus ~ span,
          .sectionContact .container .row .infoForm .contactForm .inputBox input:valid ~ span,
          .sectionContact .container .row .infoForm .contactForm .inputBox textarea:valid ~ span {
            transform: translateY(-20px);
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #ff568c; }
          .sectionContact .container .row .infoForm .contactForm .inputBox input[type="submit"],
          .sectionContact .container .row .infoForm .contactForm .inputBox input[type="reset"] {
            position: relative;
            background: #7f1d7f;
            color: #fff;
            border: none;
            max-width: 48%;
            padding: 10px;
            border-radius: 3px;
            transition: transform 0.5s; }
          .sectionContact .container .row .infoForm .contactForm .inputBox input[type="submit"]:hover,
          .sectionContact .container .row .infoForm .contactForm .inputBox input[type="reset"]:hover {
            background: #ff568c;
            transform: scale(1.1); }
    .sectionContact .container .row .infoContact {
      background: #7f1d7f;
      padding: 40px;
      box-shadow: 0 10px 10px #2d033b80; }
      .sectionContact .container .row .infoContact h2 {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin: 0; }
      .sectionContact .container .row .infoContact .info {
        margin: 0;
        padding: 0; }
        .sectionContact .container .row .infoContact .info li {
          display: flex;
          margin: 20px 0;
          cursor: pointer;
          align-items: center; }
          .sectionContact .container .row .infoContact .info li span {
            font-size: 18px; }
            .sectionContact .container .row .infoContact .info li span i {
              font-size: 30px; }
          .sectionContact .container .row .infoContact .info li span:nth-child(1) i {
            filter: invert(1); }
          .sectionContact .container .row .infoContact .info li span:nth-child(2) {
            color: #fff;
            margin-left: 10px; }
      .sectionContact .container .row .infoContact .sci {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0; }
        .sectionContact .container .row .infoContact .sci li {
          margin: 15px; }
          .sectionContact .container .row .infoContact .sci li a {
            text-decoration: none; }
            .sectionContact .container .row .infoContact .sci li a i {
              color: #fff;
              opacity: 0.5; }
        .sectionContact .container .row .infoContact .sci li:hover a i {
          opacity: 1; }

@media only screen and (max-width: 1200px) {
  .sectionContact .container {
    padding: 28px 0; }
    .sectionContact .container .row {
      width: 80%; }
      .sectionContact .container .row .infoForm .contactForm .inputBox {
        padding-top: 10px; }
      .sectionContact .container .row .infoContact h2 {
        font-size: 22px; } }

@media only screen and (max-width: 992px) {
  .sectionContact .container {
    padding: 52px 0; }
    .sectionContact .container .row {
      width: 90%; }
      .sectionContact .container .row .infoForm .contactForm h2 {
        font-size: 22px; }
      .sectionContact .container .row .infoForm .contactForm .inputBox {
        padding-top: 5px; }
        .sectionContact .container .row .infoForm .contactForm .inputBox input, .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
          font-size: 15px; }
        .sectionContact .container .row .infoForm .contactForm .inputBox span {
          font-size: 15px; }
      .sectionContact .container .row .infoContact h2 {
        font-size: 22px; }
      .sectionContact .container .row .infoContact .info li span {
        font-size: 15px; }
        .sectionContact .container .row .infoContact .info li span i {
          font-size: 20px; }
      .sectionContact .container .row .infoContact .sci li {
        margin: 10px; } }

@media only screen and (max-width: 768px) {
  .sectionContact .container {
    padding: 10px 0; }
    .sectionContact .container .row {
      width: 95%; }
      .sectionContact .container .row .infoForm .contactForm h2 {
        font-size: 20px; }
      .sectionContact .container .row .infoForm .contactForm .inputBox input, .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
        font-size: 13px; }
      .sectionContact .container .row .infoForm .contactForm .inputBox span {
        font-size: 13px; }
      .sectionContact .container .row .infoContact h2 {
        font-size: 20px; }
      .sectionContact .container .row .infoContact .info li span {
        font-size: 13px; }
        .sectionContact .container .row .infoContact .info li span i {
          font-size: 18px; } }

@media only screen and (max-width: 576px) {
  .sectionContact .container .row {
    width: 98%; } }

.sectionCart {
  margin: 30px 0; }
  .sectionCart .container {
    display: flex;
    position: relative; }
    .sectionCart .container #root {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px;
      height: 100%; }
      .sectionCart .container #root .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fdf7fd;
        justify-content: space-between;
        box-shadow: 0 5px 5px #2d033b80;
        border-radius: 5px;
        padding: 0 10px 10px; }
        .sectionCart .container #root .box .img-box {
          width: 100%;
          height: 150px; }
          .sectionCart .container #root .box .img-box .images {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center; }
        .sectionCart .container #root .box .bottom {
          width: 100%;
          height: 50%;
          text-align: center; }
          .sectionCart .container #root .box .bottom p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            height: 55px;
            padding: 10px 0; }
          .sectionCart .container #root .box .bottom h2 {
            margin: 0;
            font-weight: bold;
            padding: 10px 0;
            font-size: 18px;
            color: #ff568c; }
          .sectionCart .container #root .box .bottom button {
            width: 95%;
            position: relative;
            border: none;
            border-radius: 3px;
            background: #7f1d7f;
            padding: 7px 25px;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            transition: transform 0.5s; }
          .sectionCart .container #root .box .bottom button:hover {
            background-color: #ff568c;
            transform: scale(1.1); }
    .sectionCart .container .sidebar {
      width: 40%;
      border-radius: 5px;
      background-color: #fdf7fd;
      margin-left: 10px;
      padding: 15px;
      text-align: center; }
      .sectionCart .container .sidebar .head {
        background-color: #7f1d7f;
        border-radius: 3px;
        height: 50px;
        padding: 10px;
        margin-bottom: 15px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .sectionCart .container .sidebar .head p {
          margin: 0;
          font-size: 25px; }
        .sectionCart .container .sidebar .head .cart {
          display: flex;
          background-color: #fff;
          justify-content: space-between;
          align-items: center;
          padding: 0 5px;
          border-radius: 3px;
          width: 70px;
          height: 30px; }
          .sectionCart .container .sidebar .head .cart .bi {
            color: #7f1d7f;
            font-size: 25px; }
          .sectionCart .container .sidebar .head .cart p {
            height: 25px;
            width: 25px;
            border-radius: 25px;
            background-color: #7f1d7f;
            color: #fff;
            margin: 0;
            font-size: 18px; }
      .sectionCart .container .sidebar #cartItem .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #fdf7fd;
        box-shadow: 0 5px 5px #2d033b80;
        border-radius: 3px;
        margin: 10px; }
        .sectionCart .container .sidebar #cartItem .cart-item .row-img {
          width: 60px;
          height: 60px;
          border-radius: 60px;
          border: 2px solid #7f1d7f; }
          .sectionCart .container .sidebar #cartItem .cart-item .row-img .rowimg {
            max-width: 90%;
            max-height: 47px;
            border-radius: 47%; }
        .sectionCart .container .sidebar #cartItem .cart-item p {
          width: 40%;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 0; }
        .sectionCart .container .sidebar #cartItem .cart-item h2 {
          width: 20%;
          font-size: 18px;
          font-weight: bold;
          margin: 0;
          color: #ff568c; }
        .sectionCart .container .sidebar #cartItem .cart-item .bi {
          width: 10%;
          color: #7f1d7f;
          font-size: 30px; }
        .sectionCart .container .sidebar #cartItem .cart-item .bi:hover {
          cursor: pointer;
          color: #ff568c; }
      .sectionCart .container .sidebar .foot {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        padding: 15px 0;
        border-top: 1px solid #2d033b80; }
        .sectionCart .container .sidebar .foot h3 {
          color: #212529;
          font-weight: bold; }
        .sectionCart .container .sidebar .foot #total {
          font-weight: bold;
          color: #ff568c; }

@media only screen and (max-width: 992px) {
  .sectionCart .container #root {
    grid-template-columns: repeat(2, 1fr); }
    .sectionCart .container #root .box .img-box {
      height: 100%; }
    .sectionCart .container #root .box .bottom p {
      font-size: 14px;
      padding: 5px 0; }
    .sectionCart .container #root .box .bottom h2 {
      padding: 5px 0;
      font-size: 16px; }
    .sectionCart .container #root .box .bottom button {
      font-size: 15px; }
  .sectionCart .container .sidebar {
    margin-left: 5px;
    padding: 12px; }
    .sectionCart .container .sidebar .head p {
      font-size: 23px; }
    .sectionCart .container .sidebar .head .cart .bi {
      font-size: 23px; }
    .sectionCart .container .sidebar .head .cart p {
      height: 23px;
      width: 23px;
      border-radius: 23px;
      font-size: 16px; }
    .sectionCart .container .sidebar #cartItem .cart-item {
      padding: 5px; }
      .sectionCart .container .sidebar #cartItem .cart-item .row-img {
        width: 40px;
        height: 40px;
        border-radius: 40px; }
      .sectionCart .container .sidebar #cartItem .cart-item p {
        font-size: 12px; }
      .sectionCart .container .sidebar #cartItem .cart-item h2 {
        font-size: 12px; }
      .sectionCart .container .sidebar #cartItem .cart-item .bi {
        font-size: 25px; }
      .sectionCart .container .sidebar #cartItem .cart-item .bi:hover {
        cursor: pointer;
        color: #ff568c; } }

@media only screen and (max-width: 768px) {
  .sectionCart .container #root {
    grid-template-columns: repeat(1, 1fr); }
    .sectionCart .container #root .box .bottom p {
      font-size: 16px;
      padding: 8px 0; }
    .sectionCart .container #root .box .bottom h2 {
      padding: 8px 0;
      font-size: 18px; }
    .sectionCart .container #root .box .bottom button {
      font-size: 16px; }
  .sectionCart .container .sidebar {
    margin-left: 5px;
    padding: 10px; }
    .sectionCart .container .sidebar .head p {
      font-size: 0; }
    .sectionCart .container .sidebar .head .cart {
      width: 100%;
      height: 100%;
      justify-content: space-evenly; }
      .sectionCart .container .sidebar .head .cart .bi {
        font-size: 28px; }
      .sectionCart .container .sidebar .head .cart p {
        height: 28px;
        width: 28px;
        border-radius: 28px;
        font-size: 24px; }
    .sectionCart .container .sidebar #cartItem .cart-item .row-img {
      width: 0;
      height: 0;
      border-radius: 0;
      border: none; }
      .sectionCart .container .sidebar #cartItem .cart-item .row-img .rowimg {
        max-width: 0;
        max-height: 0;
        border-radius: 0; }
    .sectionCart .container .sidebar #cartItem .cart-item p {
      width: 50%;
      font-size: 12px; }
    .sectionCart .container .sidebar #cartItem .cart-item h2 {
      width: 30%;
      font-size: 12px; }
    .sectionCart .container .sidebar #cartItem .cart-item .bi {
      width: 20%;
      font-size: 20px; }
    .sectionCart .container .sidebar .foot h3 {
      font-size: 20px; }
    .sectionCart .container .sidebar .foot #total {
      font-size: 20px; } }

@media only screen and (max-width: 576px) {
  .sectionCart {
    margin: 20px 0; }
    .sectionCart .container .sidebar #cartItem .cart-item {
      margin: 5px; }
      .sectionCart .container .sidebar #cartItem .cart-item .bi {
        width: 20%;
        font-size: 18px; } }

.sectionModals {
  background: none; }
  .sectionModals .containerModal .modal-dialog {
    display: flex;
    justify-content: center; }
    .sectionModals .containerModal .modal-dialog .modal-content {
      height: 100%; }
      .sectionModals .containerModal .modal-dialog .modal-content .modal-header {
        background-color: #7f1d7f; }
        .sectionModals .containerModal .modal-dialog .modal-content .modal-header h5 {
          color: #fff;
          font-weight: bold;
          letter-spacing: 1px; }
      .sectionModals .containerModal .modal-dialog .modal-content .modal-body {
        width: 100%;
        padding: 5px; }
        .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img1,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img2,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img3,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img4,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img5,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img6,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img7,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img8,
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img9 {
            max-width: 550px;
            width: 100%; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img1 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img2 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img3 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img4 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img5 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img6 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img7 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img8 img,
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .big-img9 img {
              width: inherit; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .images {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 650px; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .images .small-img {
              width: 100%;
              overflow: hidden; }
              .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .images .small-img img {
                width: 100%;
                cursor: pointer;
                transition: all 0.3s ease; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .pictures .images .small-img:hover img {
              transform: scale(1.2); }
        .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description {
          width: 100%;
          padding: 10px 15px 0px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .tree {
            width: 100%; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .tree a {
              font-size: 15px;
              color: #2D033B;
              text-decoration: none;
              font-weight: bold;
              letter-spacing: 1px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .name-product {
            width: 100%;
            margin: 0;
            font-size: 35px;
            color: #212529;
            font-weight: bold;
            letter-spacing: 1px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .sku {
            width: 100%;
            margin: 0;
            font-size: 18px;
            color: #21252990;
            letter-spacing: 1px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .ratings {
            width: 100%;
            padding: 10px 0; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .ratings i {
              color: #ff8500;
              font-size: 20px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .price {
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            padding: 10px 0;
            color: #ff568c; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .availability {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 20px;
            color: #212529;
            padding: 5px 0;
            font-weight: bold; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .availability p {
              margin: 0;
              letter-spacing: 1px;
              color: #008000; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .condition {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 20px;
            color: #212529;
            padding: 5px 0;
            font-weight: bold; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .condition p {
              margin: 0;
              letter-spacing: 1px;
              font-weight: normal; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .brand {
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 20px;
            color: #212529;
            padding: 5px 0;
            font-weight: bold; }
            .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .brand p {
              margin: 0;
              letter-spacing: 1px;
              font-weight: normal; }
      .sectionModals .containerModal .modal-dialog .modal-content .modal-footer {
        border: none;
        padding: 0; }
        .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a {
          margin: 10px; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a .btn {
            position: relative;
            border: none;
            border-radius: 3px;
            background: #7f1d7f;
            padding: 10px 30px;
            margin: 10px 0;
            color: #fff;
            font-size: 20px;
            transition: transform 0.5s; }
          .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a .btn:hover {
            background: #ff568c;
            transform: scale(1.1); }

.sectionProducts {
  background: none; }
  .sectionProducts .containerProducts {
    width: 100%; }
    .sectionProducts .containerProducts .row {
      margin: 10px; }
      .sectionProducts .containerProducts .row .containerTitle {
        background: #7f1d7f;
        padding: 10px;
        border-radius: 5px; }
        .sectionProducts .containerProducts .row .containerTitle p {
          margin: 0;
          font-size: 35px;
          color: #fff;
          font-weight: bold;
          letter-spacing: 1px; }
      .sectionProducts .containerProducts .row-products {
        padding: 5px; }
        .sectionProducts .containerProducts .row-products-details {
          background: #fff;
          border-radius: 5px; }
          .sectionProducts .containerProducts .row-products-details a {
            text-decoration: none;
            cursor: pointer; }
            .sectionProducts .containerProducts .row-products-details a p {
              margin: 0;
              padding: 10px; }
            .sectionProducts .containerProducts .row-products-details a .name {
              font-size: 25px;
              color: #212529;
              font-weight: bold; }
            .sectionProducts .containerProducts .row-products-details a .price {
              font-size: 25px;
              color: #ff568c;
              font-weight: bold;
              letter-spacing: 1px; }
            .sectionProducts .containerProducts .row-products-details a input {
              width: 80%;
              position: relative;
              border: none;
              border-radius: 3px;
              background-color: #7f1d7f;
              padding: 7px 25px;
              margin: 10px 0;
              color: #fff;
              font-size: 20px;
              transition: transform 0.5s; }
            .sectionProducts .containerProducts .row-products-details a input:hover {
              background: #ff568c;
              transform: scale(1.1); }

@media only screen and (max-width: 992px) {
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .name-product {
    font-size: 30px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .sku {
    font-size: 13px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .ratings i {
    font-size: 15px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .price {
    font-size: 25px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .availability {
    font-size: 15px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .condition {
    font-size: 15px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .brand {
    font-size: 15px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a {
    margin: 5px; }
    .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a .btn {
      padding: 5px 25px;
      margin: 5px 0;
      font-size: 15px; }
  .sectionProducts .containerProducts .row .containerTitle p {
    font-size: 30px; }
  .sectionProducts .containerProducts .row-products-details a p {
    padding: 5px; }
  .sectionProducts .containerProducts .row-products-details a .name {
    font-size: 20px; }
  .sectionProducts .containerProducts .row-products-details a .price {
    font-size: 20px; } }

@media only screen and (max-width: 768px) {
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .name-product {
    font-size: 25px; }
  .sectionProducts .containerProducts .row .containerTitle p {
    font-size: 28px; }
  .sectionProducts .containerProducts .row-products-details a .name {
    font-size: 25px; }
  .sectionProducts .containerProducts .row-products-details a .price {
    font-size: 25px; } }

@media only screen and (max-width: 576px) {
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .name-product {
    font-size: 20px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .sku {
    font-size: 12px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-body .description .price {
    font-size: 20px; }
  .sectionModals .containerModal .modal-dialog .modal-content .modal-footer a .btn {
    font-size: 18px; }
  .sectionProducts .containerProducts .row .containerTitle p {
    font-size: 25px; }
  .sectionProducts .containerProducts .row-products-details a input {
    font-size: 18px; } }

.sectionGallery .container-fluid {
  padding: 10px 5px; }
  .sectionGallery .container-fluid .fila {
    width: 100%; }
    .sectionGallery .container-fluid .fila .columna {
      padding: 5px 5px; }
      .sectionGallery .container-fluid .fila .columna .card {
        background: #fdf7fd;
        border: none;
        height: 100%; }
        .sectionGallery .container-fluid .fila .columna .card-img-top {
          padding: 16px 28px;
          transition: transform .2s; }
        .sectionGallery .container-fluid .fila .columna .card-img-top:hover {
          transform: scale(1.1); }
        .sectionGallery .container-fluid .fila .columna .card-body .card-title {
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 1px;
          color: #212529; }
          .sectionGallery .container-fluid .fila .columna .card-body .card-title .bi {
            color: #ff568c; }
        .sectionGallery .container-fluid .fila .columna .card-body .card-text {
          text-align: justify;
          font-size: 16px;
          color: #212529; }

@media only screen and (max-width: 768px) {
  .sectionGallery .container-fluid {
    padding: 5px; }
    .sectionGallery .container-fluid .fila .columna {
      padding: 5px; }
      .sectionGallery .container-fluid .fila .columna .card-img-top {
        padding: 19px 33px; }
      .sectionGallery .container-fluid .fila .columna .card-body .card-title {
        font-size: 18px; }
      .sectionGallery .container-fluid .fila .columna .card-body .card-text {
        font-size: 14px; } }

@media only screen and (max-width: 576px) {
  .sectionGallery .container-fluid .fila .columna .card-img-top {
    padding: 12px 23px; }
  .sectionGallery .container-fluid .fila .columna .card-body .card-title {
    font-size: 15px; }
  .sectionGallery .container-fluid .fila .columna .card-body .card-text {
    font-size: 12px; } }
