* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Mono' !important;
  background-image: url("./../../resources/img/background.png"); }

footer {
  font-family: 'Roboto Mono'; }

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("./../../resources/font/RobotoMono-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url("./../../resources/font/RobotoMono-Bold.ttf");
  font-weight: bold; }

.n-menu {
  background: linear-gradient(135deg, #C147E9, #2D033B);
  z-index: 1; }
  .n-menu-contenido-brand {
    text-decoration: none; }
    .n-menu-contenido-brand-logo {
      width: 25%; }
    .n-menu-contenido-brand-text {
      color: #fff;
      font-weight: bold;
      font-size: 35px; }
  .n-menu-contenido .n-collapse {
    justify-content: end; }
    .n-menu-contenido .n-collapse-ul-li {
      padding: 0 50px; }
      .n-menu-contenido .n-collapse-ul-li a {
        color: #fff;
        font-size: 20px; }
      .n-menu-contenido .n-collapse-ul-li a a.active, .n-menu-contenido .n-collapse-ul-li a:hover {
        background: #fdf7fd;
        border-radius: 3px;
        transition: all 0.5s ease;
        color: #2D033B; }

@media (max-width: 768px) {
  .n-menu-contenido-brand-logo {
    height: 100px; }
  .n-menu-contenido-brand-text {
    font-size: 30px; }
  .n-menu-contenido .n-collapse {
    text-align: center; }
    .n-menu-contenido .n-collapse-ul-li {
      padding: 20px; } }

.container-fluid {
  background: linear-gradient(135deg, #C147E9, #2D033B); }
  .container-fluid .n-footer {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-fluid .n-footer-brand a {
      color: #fff; }
    .container-fluid .n-footer-brand img {
      width: 40%; }
    .container-fluid .n-footer-brand-col {
      display: flex;
      justify-content: left;
      align-items: center;
      font-weight: bold;
      font-size: 28px; }
    .container-fluid .n-footer-tree {
      text-align: right;
      font-size: 17px;
      margin: 0; }
      .container-fluid .n-footer-tree a {
        color: #fff;
        padding: 8px; }
      .container-fluid .n-footer-tree a a.active, .container-fluid .n-footer-tree a:hover {
        background: #fdf7fd;
        border-radius: 3px;
        transition: all 0.5s ease;
        color: #2D033B; }

@media (max-width: 768px) {
  .container-fluid .n-footer-brand img {
    width: 30%; }
  .container-fluid .n-footer-brand-col {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 22px; }
  .container-fluid .n-footer-brand-tree {
    text-align: center;
    padding: 20px; } }

.sectionVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sectionVideo .containerVideo {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .sectionVideo .containerVideo video {
      max-width: 100%;
      max-height: 100%;
      object-fit: fill;
      object-position: center; }

.sectionBienvenida {
  background: linear-gradient(-135deg, #2D033B, #C147E9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .sectionBienvenida .containerBienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sectionBienvenida .containerBienvenida p {
      font-size: 28px;
      font-weight: bold; }
    .sectionBienvenida .containerBienvenida h1 {
      font-size: 40px;
      font-weight: bold; }

.sectionInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px;
  text-align: center; }
  .sectionInformation .containerInformation__info {
    background: linear-gradient(-135deg, #2D033B, #C147E9);
    border-radius: 10px;
    cursor: pointer; }
    .sectionInformation .containerInformation__info a {
      text-decoration: none; }
      .sectionInformation .containerInformation__info a p {
        margin: 0; }
    .sectionInformation .containerInformation__info a:visited {
      color: #fff; }
    .sectionInformation .containerInformation__info-titulo {
      color: #fff;
      font-size: 28px;
      padding: 10px;
      font-weight: bold; }
    .sectionInformation .containerInformation__info-contenido {
      font-size: 25px;
      padding: 0 10px; }
    .sectionInformation .containerInformation__info .img1 {
      width: 100%; }
    .sectionInformation .containerInformation__info .img2 {
      width: 60%; }
    .sectionInformation .containerInformation__info-video {
      width: 100%;
      height: 100%;
      border-radius: 10px; }

@media (max-width: 768px) {
  .sectionVideo .containerVideo {
    height: 500px; }
  .sectionBienvenida .containerBienvenida p {
    font-size: 18px; }
  .sectionBienvenida .containerBienvenida h1 {
    font-size: 30px; }
  .sectionInformation {
    grid-template-columns: repeat(1, 1fr); }
    .sectionInformation .containerInformation__info-titulo {
      font-size: 22px; }
    .sectionInformation .containerInformation__info-contenido {
      font-size: 18px; }
    .sectionInformation .containerInformation__info .img1 {
      width: 80%; }
    .sectionInformation .containerInformation__info .img2 {
      width: 40%; } }

.sectionContact {
  display: flex;
  justify-content: center;
  align-items: center; }
  .sectionContact .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0; }
    .sectionContact .container .row {
      width: 65%;
      display: flex;
      align-items: center; }
      .sectionContact .container .row .infoForm {
        padding: 30px 20px;
        background: #fff;
        box-shadow: 0 10px 10px #2d033b80; }
        .sectionContact .container .row .infoForm .contactForm {
          position: relative;
          padding: 0 20px;
          width: 100%; }
          .sectionContact .container .row .infoForm .contactForm h2 {
            color: #2D033B;
            font-size: 24px;
            font-weight: bold;
            text-align: center; }
          .sectionContact .container .row .infoForm .contactForm .inputBox {
            padding-top: 20px; }
            .sectionContact .container .row .infoForm .contactForm .inputBox.w50 {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              padding-top: 30px; }
            .sectionContact .container .row .infoForm .contactForm .inputBox.w100 {
              display: flex;
              width: 100%;
              padding: 20px 0;
              justify-content: space-between; }
            .sectionContact .container .row .infoForm .contactForm .inputBox input, .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
              width: 100% !important;
              padding: 5px 0;
              resize: none;
              font-size: 18px;
              color: #4c105c;
              border: none;
              border-bottom: 1px solid #2D033B;
              outline: none !important; }
            .sectionContact .container .row .infoForm .contactForm .inputBox textarea {
              min-height: 100px; }
            .sectionContact .container .row .infoForm .contactForm .inputBox span {
              position: absolute;
              padding: 5px 0;
              font-size: 18px;
              font-weight: bold;
              color: #4c105c;
              transition: 0.5s;
              pointer-events: none; }
            .sectionContact .container .row .infoForm .contactForm .inputBox input:focus ~ span,
            .sectionContact .container .row .infoForm .contactForm .inputBox textarea:focus ~ span,
            .sectionContact .container .row .infoForm .contactForm .inputBox input:valid ~ span,
            .sectionContact .container .row .infoForm .contactForm .inputBox textarea:valid ~ span {
              transform: translateY(-20px);
              font-size: 12px;
              font-weight: bold;
              letter-spacing: 1px;
              color: #ff568c; }
            .sectionContact .container .row .infoForm .contactForm .inputBox input[type="submit"],
            .sectionContact .container .row .infoForm .contactForm .inputBox input[type="reset"] {
              position: relative;
              background: #7f1d7f;
              color: #fff;
              border: none;
              max-width: 48%;
              padding: 10px;
              border-radius: 3px; }
            .sectionContact .container .row .infoForm .contactForm .inputBox input[type="submit"]:hover,
            .sectionContact .container .row .infoForm .contactForm .inputBox input[type="reset"]:hover {
              background: #ff568c; }
      .sectionContact .container .row .infoContact {
        background: #7f1d7f;
        padding: 40px;
        box-shadow: 0 10px 10px #2d033b80; }
        .sectionContact .container .row .infoContact h2 {
          color: #fff;
          font-size: 24px;
          font-weight: bold;
          margin: 0; }
        .sectionContact .container .row .infoContact .info {
          margin: 0;
          padding: 0; }
          .sectionContact .container .row .infoContact .info li {
            display: flex;
            margin: 20px 0;
            cursor: pointer;
            align-items: center; }
            .sectionContact .container .row .infoContact .info li span {
              font-size: 18px; }
              .sectionContact .container .row .infoContact .info li span i {
                font-size: 30px; }
            .sectionContact .container .row .infoContact .info li span:nth-child(1) i {
              filter: invert(1); }
            .sectionContact .container .row .infoContact .info li span:nth-child(2) {
              color: #fff;
              margin-left: 10px; }
        .sectionContact .container .row .infoContact .sci {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0; }
          .sectionContact .container .row .infoContact .sci li {
            margin: 15px; }
            .sectionContact .container .row .infoContact .sci li a {
              text-decoration: none; }
              .sectionContact .container .row .infoContact .sci li a i {
                color: #fff;
                opacity: 0.5; }
          .sectionContact .container .row .infoContact .sci li:hover a i {
            opacity: 1; }

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    left: 50%;
    top: 90px; } }

.sectionCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0; }
  .sectionCart .container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative; }
    .sectionCart .container #root {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 12px;
      height: 100%; }
      .sectionCart .container #root .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fdf7fd;
        justify-content: space-between;
        box-shadow: 0 5px 5px #2d033b80;
        border-radius: 5px;
        padding: 0 10px 10px; }
        .sectionCart .container #root .box .img-box {
          width: 100%;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .sectionCart .container #root .box .img-box .images {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center; }
        .sectionCart .container #root .box .bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 50%;
          text-align: center; }
          .sectionCart .container #root .box .bottom p {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            height: 55px;
            padding: 10px 0; }
          .sectionCart .container #root .box .bottom h2 {
            margin: 0;
            font-weight: bold;
            padding: 10px 0;
            font-size: 18px;
            color: #ff568c; }
          .sectionCart .container #root .box .bottom button {
            width: 100%;
            position: relative;
            border: none;
            border-radius: 3px;
            background-color: #7f1d7f;
            padding: 7px 25px;
            cursor: pointer;
            color: #fff;
            font-size: 16px; }
          .sectionCart .container #root .box .bottom button:hover {
            background-color: #ff568c; }
    .sectionCart .container .sidebar {
      width: 40%;
      border-radius: 5px;
      background-color: #fdf7fd;
      margin-left: 10px;
      padding: 15px;
      text-align: center; }
      .sectionCart .container .sidebar .head {
        background-color: #7f1d7f;
        border-radius: 3px;
        height: 50px;
        padding: 10px;
        margin-bottom: 15px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .sectionCart .container .sidebar .head p {
          margin: 0;
          font-size: 25px; }
        .sectionCart .container .sidebar .head .cart {
          display: flex;
          background-color: #fff;
          justify-content: space-between;
          align-items: center;
          padding: 0 5px;
          border-radius: 3px;
          width: 70px;
          height: 30px; }
          .sectionCart .container .sidebar .head .cart .bi {
            color: #7f1d7f;
            font-size: 25px; }
          .sectionCart .container .sidebar .head .cart p {
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            background-color: #7f1d7f;
            color: #fff;
            margin: 0;
            font-size: 18px; }
      .sectionCart .container .sidebar #cartItem .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 5px 5px #2d033b80;
        border-radius: 3px;
        margin: 10px; }
        .sectionCart .container .sidebar #cartItem .cart-item .row-img {
          width: 60px;
          height: 60px;
          border-radius: 60px;
          border: 2px solid #7f1d7f;
          display: flex;
          align-items: center;
          justify-content: center; }
          .sectionCart .container .sidebar #cartItem .cart-item .row-img .rowimg {
            max-width: 90%;
            max-height: 47px;
            border-radius: 47%; }
        .sectionCart .container .sidebar #cartItem .cart-item p {
          width: 40%;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          margin: 0; }
        .sectionCart .container .sidebar #cartItem .cart-item h2 {
          width: 20%;
          font-size: 18px;
          font-weight: bold;
          margin: 0;
          color: #ff568c; }
        .sectionCart .container .sidebar #cartItem .cart-item .bi {
          width: 10%;
          color: #7f1d7f;
          font-size: 30px; }
        .sectionCart .container .sidebar #cartItem .cart-item .bi:hover {
          cursor: pointer;
          color: #ff568c; }
      .sectionCart .container .sidebar .foot {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        padding: 15px 0;
        border-top: 1px solid #2d033b80; }
        .sectionCart .container .sidebar .foot h3 {
          color: #212529;
          font-weight: bold; }
        .sectionCart .container .sidebar .foot #total {
          font-weight: bold;
          color: #ff568c; }

@media only screen and (max-width: 600px) {
  .sectionCart {
    position: relative; }
    .sectionCart .container {
      left: 0;
      right: 0;
      top: 0; }
      .sectionCart .container #root {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px; }
        .sectionCart .container #root .box {
          padding: 5px; }
          .sectionCart .container #root .box .img-box {
            height: 80%; }
          .sectionCart .container #root .box .bottom {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: center; }
            .sectionCart .container #root .box .bottom p {
              font-size: 20px;
              height: 100%;
              padding: 0; }
            .sectionCart .container #root .box .bottom h2 {
              font-size: 20px;
              height: 100%;
              padding: 5px 0; }
            .sectionCart .container #root .box .bottom button {
              font-size: 18px;
              height: 100%; }
      .sectionCart .container .sidebar {
        margin-left: 5px;
        padding: 5px; }
        .sectionCart .container .sidebar .head {
          height: 70px;
          padding: 15px;
          margin-bottom: 15px; }
          .sectionCart .container .sidebar .head p {
            font-size: 0px; }
          .sectionCart .container .sidebar .head .cart {
            width: 100%;
            height: 50px;
            justify-content: space-evenly; }
            .sectionCart .container .sidebar .head .cart .bi {
              font-size: 40px; }
            .sectionCart .container .sidebar .head .cart p {
              height: 40px;
              width: 40px;
              border-radius: 40px;
              font-size: 30px; }
        .sectionCart .container .sidebar #cartItem .cart-item {
          flex-direction: column; }
          .sectionCart .container .sidebar #cartItem .cart-item .row-img {
            width: 80px;
            height: 80px;
            border-radius: 80px; }
            .sectionCart .container .sidebar #cartItem .cart-item .row-img .rowimg {
              max-width: 100%;
              max-height: 100%; }
          .sectionCart .container .sidebar #cartItem .cart-item p {
            width: 100%;
            font-size: 16px;
            margin: 5px; }
          .sectionCart .container .sidebar #cartItem .cart-item h2 {
            width: 100%;
            font-size: 20px;
            margin: 5px; }
          .sectionCart .container .sidebar #cartItem .cart-item .bi {
            width: 100%; }
        .sectionCart .container .sidebar .foot {
          padding: 15px 10px;
          border-top: 2px solid #2d033b80; }
          .sectionCart .container .sidebar .foot h3 {
            font-size: 22px; }
          .sectionCart .container .sidebar .foot #total {
            font-size: 22px; } }

.sectionProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; }
  .sectionProducts .containerProducts {
    width: 100%; }
    .sectionProducts .containerProducts .row {
      margin: 10px; }
      .sectionProducts .containerProducts .row .containerTitle {
        background: #7f1d7f;
        padding: 10px;
        border-radius: 5px; }
        .sectionProducts .containerProducts .row .containerTitle p {
          margin: 0;
          font-size: 35px;
          color: #fff;
          font-weight: bold;
          letter-spacing: 1px; }
      .sectionProducts .containerProducts .row-products {
        padding: 5px; }
        .sectionProducts .containerProducts .row-products-details {
          background: #fff;
          border-radius: 5px; }
          .sectionProducts .containerProducts .row-products-details a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; }
            .sectionProducts .containerProducts .row-products-details a img {
              width: 100%;
              height: 100%; }
            .sectionProducts .containerProducts .row-products-details a p {
              margin: 0;
              padding: 10px; }
            .sectionProducts .containerProducts .row-products-details a .name {
              font-size: 25px;
              color: #212529;
              font-weight: bold; }
            .sectionProducts .containerProducts .row-products-details a .price {
              font-size: 25px;
              color: #ff568c;
              font-weight: bold;
              letter-spacing: 1px; }
            .sectionProducts .containerProducts .row-products-details a input {
              width: 90%;
              position: relative;
              border: none;
              border-radius: 3px;
              background-color: #7f1d7f;
              padding: 7px 25px;
              margin: 10px 0;
              color: #fff;
              font-size: 20px; }
            .sectionProducts .containerProducts .row-products-details a input:hover {
              background: #ff568c; }
