.sectionContact {
    @extend .flexCentral;

    & .container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 41px 0;

        & .row {
            width: 65%;
            display: flex;
            align-items: center;

            & .infoForm {
                padding: 30px 20px;
                background: $white;
                box-shadow: 0 10px 10px $shadow;

                & .contactForm {
                    position: relative;
                    padding: 0 20px;
                    width: 100%;

                    & h2 {
                        color: $morado;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                    }

                    & .inputBox {
                        padding-top: 20px;

                        &.w50 {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding-top: 30px;
                        }

                        &.w100 {
                            display: flex;
                            width: 100%;
                            padding: 20px 0;
                            justify-content: space-between;
                        }

                        & input, & textarea {
                            width: 100% !important;
                            padding: 5px 0;
                            resize: none;
                            font-size: 18px;
                            color: $morado-claro;
                            border: none;
                            border-bottom: 1px solid $morado;
                            outline: none !important;
                        }  

                        & textarea {
                            min-height: 100px;
                        }

                        & span {
                            position: absolute;
                            padding: 5px 0;
                            font-size: 18px;
                            font-weight: bold;
                            color: $morado-claro;
                            transition: 0.5s;
                            pointer-events: none;
                        }

                        & input:focus ~ span,
                        & textarea:focus ~ span,
                        & input:valid ~ span,
                        & textarea:valid ~ span {
                            transform: translateY(-20px);
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: $espaciado;
                            color: $rosa-fuerte;
                        }
                        
                        & input[type="submit"],
                        & input[type="reset"] {
                            position: relative;
                            background: $bg;
                            color: $white;
                            border: none;
                            max-width: 48%;
                            padding: 10px;
                            border-radius: $borderxs;
                            transition: transform 0.5s;
                        }

                        & input[type="submit"]:hover,
                        & input[type="reset"]:hover {
                            background: $rosa-fuerte;
                            transform: scale(1.1);
                        }
                    }
                }
            }

            & .infoContact  {
                background: $bg;
                padding: 40px;
                box-shadow: 0 10px 10px $shadow;

                & h2 {
                    color: $white;
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0;
                }

                & .info {
                    margin: 0;
                    padding: 0;

                    & li {
                        display: flex;
                        margin: 20px 0;
                        cursor: pointer;
                        align-items: center;

                        & span {
                            font-size: 18px;

                            & i {
                                font-size: 30px;
                            }
                        }

                        & span:nth-child(1) i {
                            filter: invert(1);
                        }

                        & span:nth-child(2) {
                            color: $white;
                            margin-left: 10px;
                        }
                    }
                }

                & .sci {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;

                    & li {
                        margin: 15px;

                        & a {
                            text-decoration: none;

                            & i {
                                color: $white;
                                opacity: 0.5;
                            }
                        }
                    }

                    & li:hover {
                        & a {
                            & i {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .sectionContact {    
        & .container {
            padding: 28px 0;
    
            & .row {
                width: 80%;
    
                & .infoForm {    
                    & .contactForm {      
                        & .inputBox {
                            padding-top: 10px;
                        }
                    }
                }
    
                & .infoContact  {    
                    & h2 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .sectionContact {    
        & .container {
            padding: 52px 0;
    
            & .row {
                width: 90%;
    
                & .infoForm {    
                    & .contactForm {    
                        & h2 {
                            font-size: 22px;
                        }
    
                        & .inputBox {
                            padding-top: 5px;
    
                            & input, & textarea {
                                font-size: 15px;
                            }  
    
                            & span {
                                font-size: 15px;
                            }
                        }
                    }
                }
    
                & .infoContact  {    
                    & h2 {
                        font-size: 22px;
                    }
    
                    & .info {
    
                        & li {
    
                            & span {
                                font-size: 15px;
    
                                & i {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
    
                    & .sci {    
                        & li {
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .sectionContact {    
        & .container {
            padding: 10px 0;
    
            & .row {
                width: 95%;
    
                & .infoForm {    
                    & .contactForm {    
                        & h2 {
                            font-size: 20px;
                        }
    
                        & .inputBox {    
                            & input, & textarea {
                                font-size: 13px;
                            }  
    
                            & span {
                                font-size: 13px;
                            }
                        }
                    }
                }
    
                & .infoContact  {    
                    & h2 {
                        font-size: 20px;
                    }
    
                    & .info {
    
                        & li {
    
                            & span {
                                font-size: 13px;
    
                                & i {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .sectionContact {    
        & .container {
            & .row {
                width: 98%;
            }
        }
    }
}