.sectionContact {
    display: flex;
    justify-content: center;
    align-items: center;
    //min-height: 80vh;

    & .container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 30px 0;

        & .row {
            width: 65%;
            display: flex;
            align-items: center;

            & .infoForm {
                padding: 30px 20px;
                background: #fff;
                box-shadow: 0 10px 10px #2d033b80;

                & .contactForm {
                    position: relative;
                    padding: 0 20px;
                    width: 100%;

                    & h2 {
                        color: #2D033B;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                    }

                    & .inputBox {
                        padding-top: 20px;

                        &.w50 {
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            padding-top: 30px;
                        }

                        &.w100 {
                            display: flex;
                            width: 100%;
                            padding: 20px 0;
                            justify-content: space-between;
                        }

                        & input, & textarea {
                            width: 100% !important;
                            padding: 5px 0;
                            resize: none;
                            font-size: 18px;
                            color: #4c105c;
                            border: none;
                            border-bottom: 1px solid #2D033B;
                            outline: none !important;
                        }  

                        & textarea {
                            min-height: 100px;
                        }

                        & span {
                            position: absolute;
                            padding: 5px 0;
                            font-size: 18px;
                            font-weight: bold;
                            color: #4c105c;
                            transition: 0.5s;
                            pointer-events: none;
                        }

                        & input:focus ~ span,
                        & textarea:focus ~ span,
                        & input:valid ~ span,
                        & textarea:valid ~ span {
                            transform: translateY(-20px);
                            font-size: 12px;
                            font-weight: bold;
                            letter-spacing: 1px;
                            color: #ff568c;
                        }

                        // & input[type="email"]:invalid ~ span,
                        // & input[type="tel"]:invalid ~ span {
                        //     //transform: translateY(-20px);
                        //     // font-size: 12px;
                        //     // font-weight: bold;
                        //     // letter-spacing: 1px;
                        //     // color: #ff568c;
                        // }

                        & input[type="submit"],
                        & input[type="reset"] {
                            position: relative;
                            //cursor: pointer;
                            background: #7f1d7f;
                            color: #fff;
                            border: none;
                            max-width: 48%;
                            padding: 10px;
                            border-radius: 3px;
                        }

                        & input[type="submit"]:hover,
                        & input[type="reset"]:hover {
                            background: #ff568c;
                        }
                    }
                }
            }

            & .infoContact  {
                //height: 500px;
                background: #7f1d7f;
                padding: 40px;
                //display: inline-block;
                box-shadow: 0 10px 10px #2d033b80;

                & h2 {
                    color: #fff;
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0;
                }

                & .info {
                    margin: 0;
                    padding: 0;

                    & li {
                        //position: relative;
                        //list-style: none;
                        display: flex;
                        margin: 20px 0;
                        cursor: pointer;
                        align-items: center;

                        & span {
                            font-size: 18px;

                            & i {
                                font-size: 30px;
                            }
                        }

                        & span:nth-child(1) i {
                            filter: invert(1);
                        }

                        & span:nth-child(2) {
                            color: #fff;
                            margin-left: 10px;
                        }
                    }
                }

                & .sci {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;

                    & li {
                        margin: 15px;

                        & a {
                            text-decoration: none;

                            & i {
                                color: #fff;
                                opacity: 0.5;
                            }
                        }
                    }

                    & li:hover {
                        & a {
                            & i {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .container {
        width: 100%;
        left: 50%;
        top: 90px;
    }
}