.sectionGallery {
    & .container-fluid {
        @extend .flexCentral;
        padding: 10px 5px;
        & .fila {
            width: 100%;

            & .columna {
                padding: 5px 5px;
                
                & .card {
                    background: $rosa-claro;
                    border: none;
                    height: 100%;

                    &-img-top {
                        padding: 16px 28px;
                        transition: transform .2s;
                        @extend .maxMedidas;
                    }

                    &-img-top:hover {
                        transform: scale(1.1);
                      }

                    &-body {
                        & .card-title {
                            font-size: 20px;
                            font-weight: bold;
                            letter-spacing: 1px;
                            color: $negro-azul;

                            & .bi {
                                color: $rosa-fuerte;
                            }
                        }

                        & .card-text {
                            text-align: justify;
                            font-size: 16px;
                            color: $negro-azul;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .sectionGallery {
        & .container-fluid {
            padding: 5px;

            & .fila {
                & .columna {
                    padding: 5px;
                    & .card {    
                        &-img-top {
                            padding: 19px 33px;
                        }
    
                        &-body {
                            & .card-title {
                                font-size: 18px;
                            }
    
                            & .card-text {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .sectionGallery {
        & .container-fluid {
            & .fila {
                & .columna {
                    & .card {    
                        &-img-top {
                            padding: 12px 23px;
                        }
    
                        &-body {
                            & .card-title {
                                font-size: 15px;
                            }
    
                            & .card-text {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}