.sectionModals {
    @extend .flexCentral;
    background: none;

    & .containerModal {
        & .modal {
            &-dialog {
                display: flex;
                justify-content: center;
                
                & .modal-content {
                    height: 100%;

                    & .modal-header {
                        background-color: $bg;

                        & h5 {
                            color: $white;
                            font-weight: bold;
                            letter-spacing: $espaciado;
                        }
                    }

                    & .modal-body {
                        width: 100%;
                        padding: 5px;
                        
                        & .pictures {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-direction: column;
                            width: 100%;

                            & .big-img1,
                            & .big-img2,
                            & .big-img3,
                            & .big-img4,
                            & .big-img5,
                            & .big-img6,
                            & .big-img7,
                            & .big-img8,
                            & .big-img9 {
                                max-width: 550px;
                                width: 100%;

                                & img {
                                    width: inherit;
                                }
                            }

                            & .images {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                max-width: 650px;
                                
                                & .small-img {                                  
                                    width: 100%;
                                    overflow: hidden;
            
                                        & img {
                                            width: 100%;
                                            cursor: pointer;
                                            transition: all 0.3s ease;
                                        }
                                    }
            
                                    & .small-img:hover {
                                        & img {
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                        }

                        & .description {
                            width: 100%;
                            padding: 10px 15px 0px;
        
                            & .tree {
                                width: 100%;
                                & a {
                                    font-size: 15px;
                                    color: $morado;
                                    text-decoration: none;
                                    font-weight: bold;
                                    letter-spacing: $espaciado;
                                }
                            }

                            & .name-product {
                                width: 100%;
                                margin: 0;
                                font-size: 35px;
                                color: $negro-azul;
                                font-weight: bold;
                                letter-spacing: $espaciado;
                            }

                            & .sku {
                                width: 100%;
                                margin: 0;
                                font-size: 18px;
                                color: #21252990;
                                letter-spacing: $espaciado;
                            }
        
                            & .ratings {
                                width: 100%;
                                padding: 10px 0;

                                & i {
                                    color: $rating;
                                    font-size: 20px;                                    
                                }
                            }
        
                            & .price {
                                width: 100%;
                                font-size: 30px;
                                font-weight: bold;
                                padding: 10px 0;
                                color: $rosa-fuerte;
                            }

                            & .availability {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                font-size: 20px;
                                color: $negro-azul;
                                padding: 5px 0;  
                                font-weight: bold;                              

                                & p {
                                    margin: 0;                                    
                                    letter-spacing: $espaciado;
                                    color: #008000;
                                }
                            }

                            & .condition {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                font-size: 20px;
                                color: $negro-azul;
                                padding: 5px 0;  
                                font-weight: bold;                              

                                & p {
                                    margin: 0;                                    
                                    letter-spacing: $espaciado;
                                    font-weight: normal;
                                }
                            }

                            & .brand {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                font-size: 20px;
                                color: $negro-azul;
                                padding: 5px 0;  
                                font-weight: bold;                              

                                & p {
                                    margin: 0;                                    
                                    letter-spacing: $espaciado;
                                    font-weight: normal;
                                }
                            }
                        }
                    }

                    & .modal-footer {
                        @extend .flexCentral;
                        border: none;
                        padding: 0;

                        & a {
                            margin: 10px;
                            
                            & .btn {
                                position: relative;
                                border: none;
                                border-radius: 3px;
                                background: $bg;
                                padding: 10px 30px;
                                margin: 10px 0;
                                color: $white;
                                font-size: 20px;
                                transition: transform 0.5s;   
                            }
    
                            & .btn:hover {
                                background: $rosa-fuerte;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.sectionProducts {
        @extend .flexCentral;
        background: none;

    & .containerProducts {
        width: 100%;
        
        & .row {
            margin: 10px;

            & .containerTitle {
                background: $bg;
                padding: 10px;
                border-radius: $bordermd;
    
                & p {
                    margin: 0;
                    font-size: 35px;
                    color: $white;
                    font-weight: bold;
                    letter-spacing: $espaciado;
                }
            }
    
            &-products {
                padding: 5px;

                &-details {
                    background: $white;
                    border-radius: $bordermd;

                    & a {
                        text-decoration: none;
                        cursor: pointer;
                        @extend .flexCentralDirection;

                        & img {
                            @extend .maxMedidas;
                        }

                        & p {
                            margin: 0;
                            padding: 10px;
                        }

                        & .name {
                            font-size: 25px;
                            color: $negro-azul;
                            font-weight: bold;
                        }
                        & .price {
                            font-size: 25px;
                            color: $rosa-fuerte;
                            font-weight: bold;
                            letter-spacing: $espaciado;
                        }

                        & input {
                            width: 80%;
                            position: relative;
                            border: none;
                            border-radius: $borderxs;
                            background-color: $bg;
                            padding: 7px 25px;
                            margin: 10px 0;
                            color: $white;
                            font-size: 20px;
                            transition: transform 0.5s;
                        }

                        & input:hover {
                            background: $rosa-fuerte;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .sectionModals {    
        & .containerModal {
            & .modal {
                &-dialog {                    
                    & .modal-content {    
                        & .modal-body {    
                            & .description {        
                                & .name-product {
                                    font-size: 30px;
                                }
    
                                & .sku {
                                    font-size: 13px;
                                }
            
                                & .ratings {    
                                    & i {
                                        font-size: 15px;                                    
                                    }
                                }
            
                                & .price {
                                    font-size: 25px;
                                }
    
                                & .availability {
                                    font-size: 15px;  
                                }
    
                                & .condition {
                                    font-size: 15px; 
                                }
    
                                & .brand {
                                    font-size: 15px;   
                                }
                            }
                        }
    
                        & .modal-footer {    
                            & a {
                                margin: 5px;
                                
                                & .btn {
                                    padding: 5px 25px;
                                    margin: 5px 0;
                                    font-size: 15px;  
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .sectionProducts {    
        & .containerProducts {            
            & .row {    
                & .containerTitle {        
                    & p {
                        font-size: 30px;
                    }
                }
        
                &-products {    
                    &-details {    
                        & a {       
                            & p {
                                padding: 5px;
                            }
    
                            & .name {
                                font-size: 20px;
                            }
                            & .price {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .sectionModals {    
        & .containerModal {
            & .modal {
                &-dialog {                    
                    & .modal-content {    
                        & .modal-body {    
                            & .description {        
                                & .name-product {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .sectionProducts {    
        & .containerProducts {            
            & .row {    
                & .containerTitle {        
                    & p {
                        font-size: 28px;
                    }
                }
        
                &-products {    
                    &-details {    
                        & a {       
                            & .name {
                                font-size: 25px;
                            }
                            & .price {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .sectionModals {
        & .containerModal {
            & .modal {
                &-dialog {
                    & .modal-content {    
                        & .modal-body {    
                            & .description {      
                                & .name-product {
                                    font-size: 20px;
                                }
    
                                & .sku {
                                    font-size: 12px;
                                }

                                & .price {
                                    font-size: 20px;
                                }
                            }
                        }
    
                        & .modal-footer {    
                            & a {                                
                                & .btn {
                                    font-size: 18px;   
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .sectionProducts {
        & .containerProducts {            
            & .row {
                & .containerTitle {        
                    & p {
                        font-size: 25px;
                    }
                }
        
                &-products {    
                    &-details {    
                        & a {     
                            & input {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}