.sectionFooter{
    & .container-fluid {
        background: $bgGradient;
    
        & .n-footer {
            @extend .flexCentral;
    
            &-brand {
                & a {
                    color: $white;
                }
    
                & img {
                    width: 40%;
                }
    
                &-col {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    font-weight: bold;
                    font-size: 28px;

                    &-text {
                        
                        margin: 0;
                    }
                }
            }
    
            &-tree {
                text-align: right;
                font-size: 17px;
                margin: 0;
    
                & a {
                    color: $white;
                    padding: 8px
                }
    
                & a a.active, a:hover {
                    background: $rosa-claro;
                    border-radius: 3px;
                    transition: all 0.5s ease;
                    color: $morado;
                }
            }
        }
    }
}
        
@media only screen and (max-width:1200px) {
    .sectionFooter{
        & .container-fluid {        
            & .n-footer {        
                &-brand {        
                    & img {
                        width: 100%;
                    }

                    &-col {
                        &-text {
                            font-size: 18px;
                        }
                    }
                }

                &-tree {
                    font-size: 13px;
        
                    & a {
                        padding: 4px
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .sectionFooter{
        & .container-fluid {        
            & .n-footer {        
                &-brand {        
                    & img {
                        width: 100%;
                    }

                    &-col {
                        &-text {
                            font-size: 16px;
                        }
                    }
                }

                &-tree {
                    font-size: 12px;
        
                    & a {
                        padding: 2px
                    }
                }
            }
        }
    }
}        

@media only screen and (max-width:576px) {
    .sectionFooter{
        & .container-fluid {        
            & .n-footer {        
                &-brand {        
                    & img {
                        width: 100%;
                    }

                    &-col {
                        &-text {
                            font-size: 15px;
                        }
                    }
                }

                &-tree {
                    font-size: 11px;
        
                    & a {
                        padding: 1px
                    }
                }
            }
        }
    }
}