* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Sen' !important;
    background-image: url('./../../resources/img/background.png');
}

footer {
    font-family: 'Sen';
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('./../../resources/font/RobotoMono-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono', monospace;
    src: url('./../../resources/font/RobotoMono-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Sen', sans-serif;
    src: url('./../../resources/font/Sen-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Sen', sans-serif;
    src: url('./../../resources/font/Sen-Bold.ttf');
    font-style: bold;
}

@font-face {
    font-family: 'Merienda', cursive;
    src: url('./../../resources/font/Merienda-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Merienda', cursive;
    src: url('./../../resources/font/Merienda-Bold.ttf');
    font-style: bold;
}
