.sectionNav {
    & .n-menu {
        background: $bgGradient;
        z-index: 1;
    
        &-contenido {
            &-brand {
                text-decoration: none;
    
                &-logo {
                    max-width: 100px;
                    width: 100%;
                }
    
                &-text {
                    color: $white;
                    font-weight: bold;
                    font-size: 35px;
                }
            }
    
            & .n-collapse {
                justify-content: end;
    
                &-ul-li {
                    padding: 0 50px;
    
                    & a {
                        color: $white;
                        font-size: 20px;           
                    }
    
                    & a a.active, a:hover {
                        background: $rosa-claro;
                        border-radius: 3px;
                        transition: all 0.5s ease;
                        color: $morado;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .sectionNav {
        & .n-menu {        
            &-contenido {   
                & .n-collapse {        
                    &-ul-li {
                        padding: 0 20px;
        
                        & a {
                            font-size: 18px;           
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .sectionNav {
        & .n-menu {
            .n-menu {
                &-contenido {
                    & .n-collapse {
                        text-align: center;

                        &-ul-li {
                            padding:20px;
                        }
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width:768px) {
    .sectionNav {
        & .n-menu {
            .n-menu {
                &-contenido {
                    &-brand {
                        &-text {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}        

@media only screen and (max-width:576px) {
    .sectionNav {
        & .n-menu {
            .n-menu {
                &-contenido {
                    &-brand {
                        &-text {
                            font-size: 25px;
                        }
                    }

                    & .n-collapse {            
                        &-ul-li {            
                            & a {
                                color: $white;
                                font-size: 18px;           
                            }
                        }
                    }
                }
            }
        }
    }
}